@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); //Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap'); //Karla (+ italic)

//TODO: Header text no longer sticks after adjusting window size before refreshing (works after refresh)

// RESET //
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

// Variables //
$menu_container_height: 2.5rem;
$menu_container_width: 5rem;

:root { // TODO: Convert these into Sass-style variables
    --STICKY_HEADER_HEIGHT: 80px;

    @media screen and (min-width: 481px) {
        --STICKY_HEADER_HEIGHT: 45px;
    }
}

// Utility Classes //

.no_wrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

// General Styles //

html {
    scroll-behavior: smooth;
    color: white;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

main.stick_on_scroll {
    padding-top: var(--STICKY_HEADER_HEIGHT);
}

h2, h3 {
    text-align: center;
}

p {
    line-height: 1.5;
}

a:any-link {
    color: white;
}

.border {
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow: visible; */
}

//TODO: Figure out why the thin border appears around SVG image
//Note: It disappears sometimes when zooming in or out.
//Removing from CSS and placing directly in HTML didn't work
.blue_wave {
    background-image: url('./test.svg');
    z-index: 100;
}

.header {
    position: relative;
    top: 0;
}

#header_photo {
    position: relative;
    z-index: 2;
    background-color: black;
}

#sticky_header_container {
    background-color: black;
    background-image: linear-gradient(to bottom, black, rgb(42, 42, 42));
    box-shadow: 0 0 10px #333;
    position: relative;
    width: 100%;
    height: var(--STICKY_HEADER_HEIGHT);
    /* position: sticky; */
    /* top: 0; */
    z-index: 1;
}

#sticky_header_container.stick_on_scroll {
    position: fixed;
    top: 0;
}

#sticky_header_text {
    height: var(--STICKY_HEADER_HEIGHT);
    padding: 10px 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#no_hands_title::after {
    content: '\a';
    white-space: pre-line;
}

#menu_icon_container {
    position: absolute; //This is the positioning I want relative to parent. Need to use JS to scroll
    top: 0;
    right: 0;
    width: $menu_container_width;
    height: $menu_container_height;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}

#menu_icon {
    position: absolute;
    top: 0.6rem;
    right: 0.4rem;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}

#bar1, #bar2, #bar3 {
    width: 1.75rem;
    height: 0.3rem;
    background-color: green;
    margin: 0.2rem;
    transition: 0.4s;
}

.menu_clicked #bar1 {
    transform: translate(0, 0.5rem) rotate(-45deg);
    background-color: red;
}

.menu_clicked #bar2 {
    opacity: 0;
}

.menu_clicked #bar3 {
    transform: translate(0, -0.5rem) rotate(45deg);
    background-color: red;
}

#nav_display_container {
    position: absolute;
    top: $menu_container_height;
    right: 0;
    height: 7rem;
    width: 5rem;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

#nav_container {
    display: block;
    padding: 0.1rem 0;
    background-color: gray;
    position: absolute;
    top: -10rem;
    right: 0;
    list-style-type: none;
    z-index: 1;
    transition: 0.2s;
}

.menu_clicked#nav_container {
    transform: translate(0, 10rem);
}

#nav_menu_ul {
    list-style-type: none;
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Karla', sans-serif;
}

#nav_menu_ul a:hover {
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover, a:focus-visible {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: cyan;
}

#hero {
    position: relative;
    height: 247px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: blue;
    text-shadow: 2px 2px 5px lightblue;
    background-image: url("haroldCC.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#new_sonic_world {
    padding-top: 1rem;
    text-align: center;
    background-color: #6198ff;
}

//Improve this positioning
#ep img {
    display: block;
    height: 50vh; //Perhaps use a different unit
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#paragraph_links {
    background-color: #004cbb;
}

#paragraph_links a {
    text-decoration: underline;
}

.footer {
    bottom: 0;
    text-align: center;
}

@media screen and (min-width: 481px) {
    #no_hands_title::after {
        content: '';
        white-space: normal;
    }

    #nav_menu_ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
}