@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;
}

:root {
  --STICKY_HEADER_HEIGHT: 22vw;
  --PAGE_TITLE_HEIGHT: 7vh; /* 40px; */
  --menu-container-height: 2.5rem;
  --menu-container-width: 5rem;
  --menu-icon-top-position: 0.6rem;
  --menu-icon-right-position: 0.4rem;
  --menu-bar-width: 1.75rem;
  --menu-bar-height: 0.3rem;
  --menu-bar-margin: 0.2rem;
  --menu-bar-translation: 0.5rem;
  --nav-display-height: 7rem;
  --nav-display-width: 4rem;
  --nav-font-size: 1rem;
  --nav-dropdown-distance: 12rem;
  /* @media screen and (min-width: 481px) {
      --STICKY_HEADER_HEIGHT: 15vh; /* 45px; 
  } */
}
@media screen and (min-width: 481px) {
  :root {
    --menu-container-height: calc(2.5rem * 1.2);
    --menu-container-width: calc(5rem * 1.2);
    --menu-icon-top-position: calc(0.6rem * 1.2);
    --menu-icon-right-position: calc(0.4rem * 1.2);
    --menu-bar-width: calc(1.75rem * 1.2);
    --menu-bar-height: calc(0.3rem * 1.2);
    --menu-bar-margin: calc(0.2rem * 1.2);
    --menu-bar-translation: calc(0.5rem * 1.2);
    --nav-display-height: calc(7rem * 1.2);
    --nav-display-width: calc(4rem * 1.2);
    --nav-font-size: calc(1rem * 1.2);
  }
}
@media screen and (min-width: 1151px) {
  :root {
    --menu-container-height: calc(2.5rem * 1.5);
    --menu-container-width: calc(5rem * 1.5);
    --menu-icon-top-position: calc(0.6rem * 1.5);
    --menu-icon-right-position: calc(0.4rem * 1.5);
    --menu-bar-width: calc(1.75rem * 1.5);
    --menu-bar-height: calc(0.3rem * 1.5);
    --menu-bar-margin: calc(0.2rem * 1.5);
    --menu-bar-translation: calc(0.5rem * 1.5);
    --nav-display-height: calc(7rem * 1.5);
    --nav-display-width: calc(4rem * 1.5);
    --nav-font-size: calc(1rem * 1.5);
  }
}
@media screen and (orientation: landscape) {
  :root {
    --STICKY_HEADER_HEIGHT: 7vw;
  }
}

.no_wrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

html {
  scroll-behavior: smooth;
  color: white;
}

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

main.stick_on_scroll {
  padding-top: var(--STICKY_HEADER_HEIGHT);
}

main.stick_on_scroll_with_page_title {
  padding-top: calc(var(--STICKY_HEADER_HEIGHT) + var(--PAGE_TITLE_HEIGHT));
}

h1 {
  max-width: 80vw;
  margin: auto;
  font-size: 10vw; /* clamp(2rem, 7vw, 5rem) */
  text-align: center;
  line-height: 1;
}
@media screen and (orientation: landscape) {
  h1 {
    font-size: 7vw;
  }
}

h2 {
  max-width: 90vw;
  margin: auto;
  font-size: clamp(1.5rem, 6vw, 4.5rem);
  text-align: center;
}
h2 #on_deck_slogan {
  font-size: clamp(1rem, 5vw, 4rem); /* min(2.5rem, 5vw); */
  /* display: inline-block;
  max-width: 100%; */
}

h3, h4 {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: center;
}

p {
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  line-height: 1.5;
  text-align: center;
}

a:any-link {
  color: white;
}

/* NOT USED */
.border {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* overflow: visible; */
}

hr {
  height: 2px;
  border: 1px;
  background-color: #8800cc;
}

/* NOT USED */
.blue_wave {
  background-image: url("./SVGs/test.svg");
  z-index: 100;
}

.header {
  position: relative;
  top: 0;
}

#header_figure {
  position: relative;
  z-index: 2;
  background-color: black;
  border: 1px solid blue;
}

#header_photo {
  width: 100%;
}

#sticky_header_container {
  background-color: black;
  background-image: linear-gradient(to bottom, black, rgb(42, 42, 42));
  box-shadow: 0 0 10px #333;
  position: relative;
  width: 100%;
  height: var(--STICKY_HEADER_HEIGHT);
  /* position: sticky; */
  /* top: 0; */
  z-index: 1;
}

#sticky_header_container.stick_on_scroll {
  position: fixed;
  top: 0;
}

#sticky_header_text {
  height: var(--STICKY_HEADER_HEIGHT);
  padding: 10px 0;
  text-align: center;
  font-family: "Prompt", sans-serif;
  color: #EEE;
}

#sticky_page_title {
  color: black;
  background-color: goldenrod;
  background-image: linear-gradient(to bottom, gold, goldenrod);
  position: relative;
  width: 100%;
  height: var(--PAGE_TITLE_HEIGHT);
  text-align: center;
  font-family: "Karla", sans-serif;
}

#sticky_page_title.stick_on_scroll {
  position: fixed;
  top: var(--STICKY_HEADER_HEIGHT);
}

/* #no_hands_title::after {
    content: '\a';
    white-space: pre-line;
} */
#menu_icon_container {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--menu-container-width);
  height: var(--menu-container-height);
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

#menu_icon {
  position: absolute;
  top: var(--menu-icon-top-position);
  right: var(--menu-icon-right-position);
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

#bar1, #bar2, #bar3 {
  width: var(--menu-bar-width);
  height: var(--menu-bar-height);
  background-color: goldenrod;
  margin: var(--menu-bar-margin);
  transition: 0.4s;
}

.menu_clicked #bar1 {
  transform: translate(0, var(--menu-bar-translation)) rotate(-45deg);
  background-color: gold;
}

.menu_clicked #bar2 {
  opacity: 0;
}

.menu_clicked #bar3 {
  transform: translate(0, calc(var(--menu-bar-translation) * -1)) rotate(45deg);
  background-color: gold;
}

#nav_display_container {
  position: absolute;
  top: var(--menu-container-height);
  right: 0;
  height: var(--nav-display-height);
  width: var(--nav-display-width);
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

#nav_container {
  display: block;
  padding: 0.1rem 0;
  background-color: rgb(42, 42, 42);
  position: absolute;
  top: calc(var(--nav-dropdown-distance) * -1);
  right: 0;
  width: var(--nav-display-width);
  border-radius: 0.5rem;
  list-style-type: none;
  z-index: 1;
  transition: 0.2s;
}

.menu_clicked#nav_container {
  transform: translate(0, var(--nav-dropdown-distance));
}

#nav_menu_ul {
  list-style-type: none;
  padding: 0 1rem 0 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Fira Sans", sans-serif;
  font-size: var(--nav-font-size);
}
#nav_menu_ul a {
  color: #d7f9f1;
}

#nav_menu_ul a:hover {
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover, a:focus-visible {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: cyan;
}

.artwork_title {
  font-style: italic;
}

#hero {
  position: relative;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

#hero_figure {
  background-color: black;
}

#hero_image {
  /* height: 80vh; */
  object-fit: contain;
}
@media screen and (orientation: landscape) {
  #hero_image {
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
  }
}

#svg_container {
  /* border: 1px solid purple; */
  height: 50vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("./SVGs/gold_wave3.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 0 0 10px #333; */
  font-family: "Fira Sans", sans-serif;
  color: goldenrod;
}
@media screen and (orientation: landscape) {
  #svg_container {
    background-position: bottom;
    aspect-ratio: 9/6;
    height: 100vh;
  }
}
#svg_container h2 {
  padding: 1rem 1rem 0 1rem;
}
#svg_container h3 {
  padding: 1rem;
  color: #d7f9f1;
}
#svg_container #spotify_container_outer {
  width: clamp(350px, 75vw, max(800px, 50vw));
  margin: auto;
  overflow: hidden;
}
#svg_container #spotify_container_outer #spotify_container_inner {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%;
  overflow: hidden;
}
#svg_container #spotify_container_outer #spotify_container_inner iframe {
  border-radius: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* #slogan2_container {
    color: white;
    background-color: goldenrod;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;

    h3 {
        padding: 1rem;
        color: $mint_green;
    }
} */
.hr_homepage {
  border: 1px solid black;
}

#fade_container {
  background-color: goldenrod;
  background-image: linear-gradient(to bottom, goldenrod, rgb(157, 118, 22));
}
#fade_container #blurb {
  width: clamp(350px, 80vw, 1200px);
  margin: auto;
  padding: 1rem 1rem 2rem; /* left/right padding: clamp(2rem, 20vw, 3rem) */
  font-family: "Fira Sans", sans-serif;
}
#fade_container #instagram_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new_sonic_world {
  padding: 1rem;
  text-align: center;
  color: goldenrod;
  background-color: #2a2a2a;
  box-shadow: 0 0 10px #333;
  /* color: #374038; //Exact opposite of background color
  background-color: #c8bfc7; */
  font-family: "Fira Sans", sans-serif;
}
#new_sonic_world #paragraph_links {
  color: white;
}
#new_sonic_world #paragraph_links a {
  color: #d7f9f1;
  text-decoration: underline;
}

#ep img {
  display: block;
  height: 50vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#homepage_bottom {
  background-color: black;
  background-image: linear-gradient(to bottom, #c8bfc7, goldenrod);
}
#homepage_bottom #youtube_container_outer {
  width: clamp(350px, 75vw, max(800px, 50vw));
  margin: auto;
  overflow: hidden;
}
#homepage_bottom #youtube_container_outer #youtube_container_inner {
  position: relative;
  display: block;
  width: 90%;
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%;
  overflow: hidden;
}
#homepage_bottom #youtube_container_outer #youtube_container_inner iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Currently very indecisive about colors */
/* Update: I think Roseda green is the winner */
.about {
  /* border: 1px solid #ca054d; rose red */
  /* border: 1px solid #776885; light purple */
  border: 1px solid #93748a; /* Mountbatten pink */
  /* border: 1px solid #ef767a; */ /* Light coral */
  border: 1px solid #76877d; /* Battleship gray */
  border: 1px solid #708b75; /* Roseda green */
}

.musician_bio {
  /* border: 1px solid red; */
  padding: 20px;
  display: flow-root;
}
.musician_bio .musician_headshot {
  float: left;
  width: 50%;
  margin: 0 1rem 1rem 0;
}
.musician_bio .musician_headshot img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border-radius: 25px;
  border: 5px solid goldenrod;
}
.musician_bio p {
  text-align: left;
  font-family: "Fira Sans", sans-serif;
}
.musician_bio a {
  color: rgb(255, 240, 171);
  text-decoration: underline;
  text-decoration-color: goldenrod;
  text-decoration-style: dotted;
}
.musician_bio a:hover, .musician_bio a:focus-visible {
  font-style: italic;
}

.musician_bio.right .musician_headshot {
  float: right;
  margin: 0 0 1rem 1rem;
}
.musician_bio.right p {
  text-align: right;
}

/* || Full Screen Settings || */
/* .musician_bio {
    border: 1px solid red;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    .musician_headshot {
        width: 35%;

        img {
            width: 100%;
            height: auto;
            min-width: 100px;
        }
    }
}

.musician_bio.right {
    justify-content: flex-end;
} */
.h2_music {
  background-color: #333;
}

#video {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}
#video iframe {
  border: 1px solid red;
  /* border-radius: 12px; */
}

/* #off_the_curb_spotify {
    border: 1px solid green;
    display: flex;
    justify-content: center;

    iframe {
        border: 1px solid red;
    }
} */
.footer {
  bottom: 0;
  text-align: center;
}

@media screen and (min-width: 481px) {
  /* #no_hands_title::after {
      content: '';
      white-space: normal;
  } */
  #nav_menu_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
