@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea {
  font: inherit;
}

:root {
  --STICKY_HEADER_HEIGHT: 80px;
  --PAGE_TITLE_HEIGHT: 40px;
}
@media screen and (min-width: 481px) {
  :root {
    --STICKY_HEADER_HEIGHT: 45px;
  }
}

.no_wrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

html {
  scroll-behavior: smooth;
  color: white;
}

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

main.stick_on_scroll {
  padding-top: var(--STICKY_HEADER_HEIGHT);
}

main.stick_on_scroll_with_page_title {
  padding-top: calc(var(--STICKY_HEADER_HEIGHT) + var(--PAGE_TITLE_HEIGHT));
}

h2, h3 {
  text-align: center;
}

p {
  line-height: 1.5;
  text-align: center;
}

a:any-link {
  color: white;
}

.border {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* overflow: visible; */
}

hr {
  height: 2px;
  border: 1px;
  background-color: #8800cc;
}

.blue_wave {
  background-image: url("./SVGs/test.svg");
  z-index: 100;
}

.header {
  position: relative;
  top: 0;
}

#header_figure {
  position: relative;
  z-index: 2;
  background-color: black;
}

#header_photo {
  width: 100%;
}

#sticky_header_container {
  background-color: black;
  background-image: linear-gradient(to bottom, black, rgb(42, 42, 42));
  box-shadow: 0 0 10px #333;
  position: relative;
  width: 100%;
  height: var(--STICKY_HEADER_HEIGHT);
  /* position: sticky; */
  /* top: 0; */
  z-index: 1;
}

#sticky_header_container.stick_on_scroll {
  position: fixed;
  top: 0;
}

#sticky_header_text {
  height: var(--STICKY_HEADER_HEIGHT);
  padding: 10px 0;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

#sticky_page_title {
  color: black;
  background-color: goldenrod;
  background-image: linear-gradient(to bottom, gold, goldenrod);
  position: relative;
  width: 100%;
  height: var(--PAGE_TITLE_HEIGHT);
  text-align: center;
  font-family: "Karla", sans-serif;
}

#sticky_page_title.stick_on_scroll {
  position: fixed;
  top: var(--STICKY_HEADER_HEIGHT);
}

#no_hands_title::after {
  content: "\a";
  white-space: pre-line;
}

#menu_icon_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

#menu_icon {
  position: absolute;
  top: 0.6rem;
  right: 0.4rem;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

#bar1, #bar2, #bar3 {
  width: 1.75rem;
  height: 0.3rem;
  background-color: goldenrod;
  margin: 0.2rem;
  transition: 0.4s;
}

.menu_clicked #bar1 {
  transform: translate(0, 0.5rem) rotate(-45deg);
  background-color: gold;
}

.menu_clicked #bar2 {
  opacity: 0;
}

.menu_clicked #bar3 {
  transform: translate(0, -0.5rem) rotate(45deg);
  background-color: gold;
}

#nav_display_container {
  position: absolute;
  top: 2.5rem;
  right: 0;
  height: 7rem;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

#nav_container {
  display: block;
  padding: 0.1rem 0;
  background-color: gray;
  position: absolute;
  top: -10rem;
  right: 0;
  list-style-type: none;
  z-index: 1;
  transition: 0.2s;
}

.menu_clicked#nav_container {
  transform: translate(0, 10rem);
}

#nav_menu_ul {
  list-style-type: none;
  padding: 0 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Karla", sans-serif;
}

#nav_menu_ul a:hover {
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover, a:focus-visible {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: cyan;
}

.artwork_title {
  font-style: italic;
}

#hero {
  position: relative;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

#hero_image {
  /* height: 80vh; */
  object-fit: contain;
}

#slogan_container {
  /* border: 1px solid purple; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./SVGs/gold_wave3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px #333;
  font-family: "Fira Sans", sans-serif;
  color: goldenrod;
}
#slogan_container h2 {
  padding-top: 1rem;
}
#slogan_container #off_the_curb_spotify {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
}
#slogan_container #off_the_curb_spotify iframe {
  border-radius: 12px;
  /* border: 1px solid red; */
}

#slogan2_container {
  color: white;
  background-color: goldenrod;
  font-family: "Fira Sans", sans-serif;
}
#slogan2_container h3 {
  padding-bottom: 1rem;
  color: #d7f9f1;
}

.hr_homepage {
  border: 1px solid black;
}

#blurb {
  background-color: black;
  background-image: linear-gradient(to bottom, goldenrod, #c8bfc7);
  font-family: "Fira Sans", sans-serif;
}

#new_sonic_world {
  padding: 1rem 0 1rem 0;
  text-align: center;
  color: #374038;
  background-color: #c8bfc7;
  font-family: "Fira Sans", sans-serif;
  font-size: 105%;
}

#ep img {
  display: block;
  height: 50vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#homepage_bottom {
  background-color: black;
  background-image: linear-gradient(to bottom, #c8bfc7, goldenrod);
}
#homepage_bottom #video {
  padding: 0.5rem 0 0.5rem 0;
  border: none;
}
#homepage_bottom #video iframe {
  border: none;
}

#paragraph_links {
  font-family: "Fira Sans", sans-serif;
}
#paragraph_links a {
  text-decoration: underline;
}

/* Currently very indecisive about colors */
/* Update: I think Roseda green is the winner */
.about {
  /* border: 1px solid #ca054d; rose red */
  /* border: 1px solid #776885; light purple */
  border: 1px solid #93748a; /* Mountbatten pink */
  /* border: 1px solid #ef767a; */ /* Light coral */
  border: 1px solid #76877d; /* Battleship gray */
  border: 1px solid #708b75; /* Roseda green */
}

.musician_bio {
  /* border: 1px solid red; */
  padding: 20px;
  display: flow-root;
}
.musician_bio .musician_headshot {
  float: left;
  width: 50%;
  margin: 0 1rem 1rem 0;
}
.musician_bio .musician_headshot img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border-radius: 25px;
  border: 5px solid goldenrod;
}
.musician_bio p {
  text-align: left;
  font-family: "Fira Sans", sans-serif;
}
.musician_bio a {
  color: rgb(255, 240, 171);
  text-decoration: underline;
  text-decoration-color: goldenrod;
  text-decoration-style: dotted;
}
.musician_bio a:hover, .musician_bio a:focus-visible {
  font-style: italic;
}

.musician_bio.right .musician_headshot {
  float: right;
  margin: 0 0 1rem 1rem;
}
.musician_bio.right p {
  text-align: right;
}

/* || Full Screen Settings || */
/* .musician_bio {
    border: 1px solid red;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    .musician_headshot {
        width: 35%;

        img {
            width: 100%;
            height: auto;
            min-width: 100px;
        }
    }
}

.musician_bio.right {
    justify-content: flex-end;
} */
.h2_music {
  background-color: #333;
}

#video {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}
#video iframe {
  border: 1px solid red;
  /* border-radius: 12px; */
}

/* #off_the_curb_spotify {
    border: 1px solid green;
    display: flex;
    justify-content: center;

    iframe {
        border: 1px solid red;
    }
} */
.footer {
  bottom: 0;
  text-align: center;
}

@media screen and (min-width: 481px) {
  #no_hands_title::after {
    content: "";
    white-space: normal;
  }
  #nav_menu_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
